/*GENERAL*/
*, html {
    margin:0;
    padding:0;
    box-sizing: border-box;  
}

.bgPurple{
	background: rgb(89,47,217);
}

.btn{
	font-size: 18px;
	padding: 0.8rem 2rem;
	color: white;
	border: none;
}

/*First Section*/

#firstSection{
	height: 100vh;
	background:url("../images/biking-5680458_1920.jpg");
	background-position: center;
	padding: 15px 45px;
}

#menu{
	display: flex;
	justify-content: space-between;
}

#menu .logo{
	color: white;
	padding: 5px;
}

#menu nav a{
	text-transform: uppercase;
	color: white;
	text-decoration-line: none;
	margin-right: 15px;

}

#contentText{
	width: 500px;
	margin-top: 25vh;
	color: white;
}

#contentText h1{
	font-size: 55px;
	margin-bottom: 25px;
	line-height: 0.9em;
}

#contentText p{
	font-size: 18px;
	margin-bottom: 25px;
}


#secondSection{
	padding: 80px;
	text-align: center;

}

#listItems{
	display: flex;
	margin-top: 80px;
}

#listItems .item{
	padding: 16px;
}

#listItems .item .itemLogo{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#listItems .item .itemLogo img{
	width: 30px;
	height: 30px;
}

#listItems .item h3{
	margin: 20px 0;
}

#listItems .item p{
	color: #999;
}


#threeSection{
	background: rgb(243,243,243);
	padding: 80px;
}

.threeSectionBlock{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.threeSectionBlock:nth-child(2){
	flex-direction: row-reverse;
}

.threeSectionBlock > div{
	width: 48%;
	height: 400px;
}

.threeSectionBlock img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.threeSectionBlock h1{
	margin-bottom: 20px;
}

.threeSectionBlock p{
	margin-bottom: 20px;
	font-size: 18px;
}

.threeSectionBlock ul{
	list-style-position: inside;
	margin-bottom: 40px;
}

.threeSectionBlock ul li{
	margin-bottom: 10px;
	font-size: 20px;
}


#lastSection{
	margin: 80px;
	text-align: center;
}

#lastSection img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: fill;
}

#lastSection p{
	margin-top: 10px;
}

#stars img{
	width: 20px;
	height: 20px;
}



